.review-card-img {
  width: 90px;
  margin: auto;
  border-radius: 50%;
}

.review-rating-style {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  color: #2ca239;
}

@media (max-width: 575px) {
  .card-width {
    overflow-x: hidden;
    padding: 0px;
  }
}
